{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
  Catégories - {{ parent() }}
{% endblock %}

{% block blog_body %}

  <h2>Liste des catégories</h2>

  <ul>
    {% for category in listCategories %}
      <li>
        <a href="{{ path('blog_category', {'id': category.id}) }}">
          {{ category.name }}
        </a>
        <p>

          {% if app.user %}
          <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier la catégorie
          </a>
          <a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer la catégorie
          </a>
          {% endif %}
        </p>

      </li>
    {% else %}
      <li>Pas (encore !) de catégories</li>
    {% endfor %}
  </ul>

  <ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('blog_articles', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
