{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
  Supprimer un tag - {{ parent() }}
{% endblock %}

{% block blog_body %}

  <h2>Supprimer un tag</h2>

  <p>
    Etes-vous certain de vouloir supprimer le tag "{{ tag.name }}" ?
  </p>

  <form action="{{ path('tag_delete', {'id': tag.id}) }}" method="post">
    <a href="{{ path('blog_tags') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>

    <input type="submit" value="Supprimer" class="btn btn-danger" />
    
    {{ form_rest(form) }}
  </form>

{% endblock %}
